.center {
  text-align: center;
}

.regiao {
  height: 630px;
  padding: 90px;
}

.linha {
  padding-top: 30px;
}

.col-2 {
  column-count: 2;
}

.col-3 {
  column-count: 3;
}

.projeto {
  height: 260px;
  border-radius: 2px;
  padding: 30px;
  box-sizing: border-box;
}

.mbottom-2 {
  margin-bottom: 18px;
}
